* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #d5e1ef;
}

main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  background-color: #ffffff;
  width: 300px;
  height: 470px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 15px;
}

img {
  border-radius: 10px;
  margin-top: 10px;
}
.content {
  margin: 30px 30px;
}
.main-text {
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
  font-size: 20px;
}

.sub-text {
  color: #777;
  margin-top: 20px;
  font-size: 14px;
  text-align: center;
}
